{% extends "talk/base.html" %}
{% block title %}로그인{% endblock %}
{% block content %}
<body class="index">
<div class="main">
        <h2>메일톡</h2>
        <img src="{{ url_for('talk.static', filename='mail.png') }}" width="100" height="100">
        <div class="login-container">
            <div class="login">
                <input type="text" placeholder="아이디">
                <input type="text"placeholder="비밀번호">
                <a href="{{ url_for('talk.friends') }}" class="styled-button">로그인</a>
            </div>
        </div>

</div>
</body>
{% endblock %}